# Ignore virtual environments
venv/
ENV/
env/
.venv/

# Ignore Streamlit secrets
.streamlit/secrets.toml

# Python cache files
_pycache_/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# Jupyter and system files
.ipynb_checkpoints/
.DS_Store